<li id="event-<%= event.id %>">
  <span class="title">
    <%= link_to event.title, event %>
  </span>
  <span class="user">
    <%= link_to event.user.name, event.user %>
    <% if current_user?(event.user) || ( logged_in? && current_user.admin? ) %> | 
      <%= link_to "delete event", event, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <span class="date"><%= event.date.to_formatted_s(:long_ordinal) %></span>
  <span class="content"><%= event.content %></span>
  <%#= render 'events/attend_form' if logged_in? %>
</li>